/*Convenio*/

.convenio-lista h3{
    margin: 20px 100px 30px 40px;
}
.convenio-lista p{
    margin: 5px 100px 5px 40px;
}
.convenio-lista h2{
    margin: 20px 100px 30px 40px;
}
.convenio-lista ul li{
    margin: 15px 100px 15px 40px;
}